@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #FABE52;
}

.card {
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 400px;
    text-align: center;
    background-color: #F6F6F6;
    border: solid black 2px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.card img {
    width: 100px;
    height: 100px;
    padding: 5px;
    gap: 5px;
}

.botao-comprar{

    background-color: #C4FCBE;
    color: #1CDA07;
    font-family: "Inter", serif;
    border-radius: 20px;
    padding: 8px;
    gap: 5px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto; /* salvador da pátria das centralização de div*/
    width: fit-content;
    height: fit-content;
    padding: 20px;
    gap: 20px;
    /*border: solid black 5px;*/
}

nav {
    background-color:#f8a834;

}

nav ul{
    padding: 10px;
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-button {
    background-color: transparent;
    border: none;

}
